#home_fullBanner {
  padding: 56px;
  background-image: url("../assets/fullbanner.jpg");
  background-size: cover;
  background-position: center;
}

.carousel {
  max-width: 1300px;
  margin: auto;
  min-height: 400px;
  width: 100%;
  margin-top: 72px;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  position: relative;
  top: -30px;
  flex-wrap: wrap; /* permite quebrar linha */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16%;
  text-align: center;
  padding: 32px 24px;
  box-shadow: var(--shadow-mid);
  border-radius: var(--radius-mid);
  background-color: var(--color-white);
  height: auto;

  .Tag {
    background-color: var(--color-grey-light);
    border-radius: 50px;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 8px 16px;
  }

  h3 {
    font-size: 14px;
    margin-top: 24px;
    font-family: "Montserrat";
    font-weight: 700;
  }

  p {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 200;
    margin: 0;
  }

  .match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-block: 24px;
  }

  .vs-icon {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-red);
    font-family: "Montserrat", sans-serif;
    padding: 5px 10px;
    border: 2px solid var(--color-red);
    border-radius: 6px;
    background-color: white;
    display: inline-block;
    text-align: center;
  }

  .matchTXT {
    font-size: 12px;
    font-family: "Montserrat";
    margin-bottom: 20px;
    margin-top: 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-grey-light);
    width: 90%;
  }

  button {
    margin-top: 20px;
  }

  img {
    width: 80px;
    height: 80px;
    transition: transform 0.5s ease;
  }

  img:hover {
    transform: scale(1.1);
  }
}

#gurias{
   margin-top: 50px;

   .container{
    max-width: 1250px;
   }

   h2{
    color: var(--color-black);
    margin-bottom: 50px;
    font-family: var(--font-fm);
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    
   }
}

/* ----------- TABLET ----------- */

@media (max-width: 1024px) {

  .home_fullBanner {
    padding: 32px;
  }

  .cards {
    top: -20px;
  }

  .card {
    width: 30%;
  }

}

/* ----------- CELULAR ----------- */

@media (max-width: 768px) {

  .carousel {
    min-height: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 20px;
  }

  .card {
    width: 90%;
    padding: 24px;
  }

}



/* ----------- CELULAR PEQUENO ----------- */

@media (max-width: 480px) {

  .home_fullBanner {
    padding: 20px;
  }

  .card img {
    width: 60px;
    height: 60px;
  }

  .card h3 {
    font-size: 13px;
  }

  .card p {
    font-size: 12px;
  }

}