#home_fullBanner {
  padding: 56px;
  background-image: url("../assets/fullbanner.jpg");
  background-size: cover;
  background-position: center;
}

.carousel {
  max-width: 1300px;
  margin: auto;
  min-height: 400px;
  width: 100%;
  margin-top: 72px;

  img {
    width: 100%;
    border-radius: 10px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  position: relative;
  top: -30px;
  flex-wrap: wrap; /* permite quebrar linha */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16%;
  text-align: center;
  padding: 32px 24px;
  box-shadow: var(--shadow-mid);
  border-radius: var(--radius-mid);
  background-color: var(--color-white);
  height: auto;

  .Tag {
    background-color: var(--color-grey-light);
    border-radius: 50px;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 700;
    padding: 8px 16px;
  }

  h3 {
    font-size: 14px;
    margin-top: 24px;
    font-family: "Montserrat";
    font-weight: 700;
  }

  p {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 200;
    margin: 0;
  }

  .match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-block: 24px;
  }

  .vs-icon {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-red);
    font-family: "Montserrat", sans-serif;
    padding: 5px 10px;
    border: 2px solid var(--color-red);
    border-radius: 6px;
    background-color: white;
    display: inline-block;
    text-align: center;
  }

  .matchTXT {
    font-size: 12px;
    font-family: "Montserrat";
    margin-bottom: 20px;
    margin-top: 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-grey-light);
    width: 90%;
  }

  button {
    margin-top: 20px;
  }

  img {
    width: 80px;
    height: 80px;
    transition: transform 0.5s ease;
  }

  img:hover {
    transform: scale(1.1);
  }
}

#gurias,
#celeiro {
  padding-top: 50px;

  .container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
  }

  h2 {
    color: var(--color-black);
    font-family: var(--font-fm);
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .cards {
    position: static;
    top: 0;
    margin-top: 0;
  }

  .card {
    width: 24%;
    margin-bottom: 50px;
  }
}

.RolagemLateral {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#Vdestaques {
  padding: 120px 0px 120px 0px;
  background-color: var(--color-black-light);

  .hover {
    transition: transform 0.5s ease;
    position: relative;
  }

  .hover:hover {
    transform: scale(1.03);
  }

  .container {
    max-width: 87%;
  }

  h2 {
    color: var(--color-white);
  }

  img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
  }

  .Videos {
    border-radius: 20px;
    margin-top: 50px;
    background-color: var(--color-white);
    width: 20%;
    height: auto;
    display: flex; /* 👈 */
    flex-direction: column; /* 👈 */
    align-items: center;
  }

  .leg {
    padding: 20px;
    width: 90%;

    h2 {
      color: var(--color-red);
      font-weight: 700;
      font-size: 13px;
      line-height: 24px;
      font-family: var(--font-fm);
    }

    h4 {
      color: var(--color-black);
      font-weight: 800;
      font-size: 13px;
      font-family: var(--font-fm);
    }
  }

  .exclusivos {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-align: right;
    gap: 20px;

    button {
      font-size: 12px;
    }
    p {
      color: var(--color-white);
      font-size: 13px;
      font-family: var(--font-fm);
    }
  }
}

.hover {
  transition: transform 0.5s ease;
  position: relative;
}

.hover:hover {
  transform: scale(1.03);
}

#conquistas {
  padding: 120px 0px 120px 0px;
  background-color: var(--color-red);

  .RolagemLateral {
    width: 100%;
    gap: 70px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 87%;
  }

  h2 {
    color: var(--color-white);
  }

  .trofeus {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    h4 {
      margin-top: 30px;
      color: var(--color-white);
      font-size: 10px;
      font-family: var(--font-fm);
    }

    span {
      margin-top: 30px;
      color: var(--color-white);
      font-family: var(--font-fm);
      font-size: 8px;
      padding: 5px;
      border: 1px solid var(--color-white);
      border-radius: 20px;
    }

    .RolagemLateral {
      gap: 10px;
      justify-content: center;
      align-items: center;
    }

    img {
      height: 150px;
    }
  }
}

#a {
  margin-block: 50px;
  background-color: var(--color-white);

  img {
    border-radius: 20px;
  }
}

/* ----------- TABLET ----------- */

@media (max-width: 1024px) {
  .home_fullBanner {
    padding: 32px;
  }

  .cards {
    top: -20px;
  }

  .card {
    width: 30%;
  }
}

/* ----------- CELULAR ----------- */

@media (max-width: 768px) {
  .carousel {
    min-height: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 20px;
  }

  .card {
    width: 90%;
    padding: 24px;
  }
}

/* ----------- CELULAR PEQUENO ----------- */

@media (max-width: 480px) {
  .home_fullBanner {
    padding: 20px;
  }

  .card img {
    width: 60px;
    height: 60px;
  }

  .card h3 {
    font-size: 13px;
  }

  .card p {
    font-size: 12px;
  }
}
